.content-wrapper
  .container
    / Content Header (Page header)
    %section.content-header
      = render 'shared/flash_messages'
      %h1
        %i.fa.fa-exchange
        ACH Logs
    / Main content
    %section.content
      = render partial: 'index'