.content-wrapper
  .container
    / Content Header (Page header)
    %section.content-header
      %h1
        %i.fa.fa-google-wallet
        Edit Wallet Type
    / Main content
    %section.content
      .row
        .col-xs-12.col-sm-12.col-md-5
          = render 'form'