#barcode.modal.fade.in
  .modal-dialog.modal-sm{:role => "document"}
    .modal-content
      .modal-header
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} ×
      .modal-body
        .text-center
          - unless @base64_barcode_string.blank?
            %img{:src => "data:image/png;base64,#{@base64_barcode_string}", class: 'img-fluid'}
          - else
            %div{id: "generating_barcode_spinner", style: 'display:none;'}
              %i.fa.fa-spinner.fa-spin.fa-2x.fa-fw
            %img{id: 'barcode_contents', :src => "", class: 'img-fluid'}
    / /.modal-content
  / /.modal-dialog
/ /.modal