.jumbotron{style: 'background-color: white;'} 
  .text-center
    - unless @customer.full_name.blank? and params[:amount].blank?
      %h1.text-xs-center
        = number_to_currency(params[:amount], precision: 0) unless params[:amount].blank?
        - unless @customer.full_name.blank?
          %br
          = @customer.full_name
      %br
      %br
    %table.table{:style => "height: 100px;", class: 'text-xs-center'}
      %tbody
        %tr
        %tr
        %tr
        %tr
          %td.align-bottom 
            %img{:src => "data:image/png;base64,#{@base64_barcode_string}", class: 'img-fluid'}

:javascript
  $(window).load(function () {
    window.print();
  });